@font-face {
  font-family: timer;
  src: url(fonts/CursedTimerUlil-Aznm.woff2) format("woff2");
}

body {
  margin: 0;
  text-align: center;
  color: white;
}

h3 {
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  margin: 20px 0px;
}

p {
  margin: 0;
}

section {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.container {
  display: inline-flex;
  flex-direction: column;
  background-color: #1b244a;
  gap: 20px;
  padding: 20px 40px;
  border-radius: 12px;
}

#timer {
  background-color: black;
  font-family: timer;
  font-size: 48px;
  padding-top: 10px;
}

.score-container {
  display: inline-flex;
  justify-content: space-around;
  gap: 18px;
}

.display {
  background-color: black;
  margin-bottom: 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home-display-text,
#away-display-text {
  font-family: timer;
  font-size: 90px;
  color: red;
}

.button-row {
  display: flex;
  justify-content: space-between;
}

button {
  border: 2px solid #9aabd8;
  background-color: rgba(0, 0, 0, 0);
  color: #9aabd8;
  border-radius: 4px;
  padding: 7px;
  font-family: timer;
  font-size: 18px;
}
